@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.movie-details-container{
    width: 100vw;
    background-color: #000;
    color: #fff;
}


/* Main Content */

.youtube__video__wrapper{
    margin-left: 210px;
}

.movie-details-wrapper{
    margin-top: 20px;
    margin-left: 30px;
}

.movie-details-content{
   display: flex;
   justify-content: center;
   gap: 30px;
}

.movie__detail__image{
    margin-top: 50px;
    width: 200px;
    height: 350px;
}

.movie-trailer{
    border-radius: 20px;
}

.movie-overview{
   margin-top: 50px;
}

.movie__title__wrapper{
    display: flex;
    justify-content: space-between
}

.movie__genre{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    font-weight: 700;
    gap: 20px
}

.genre__one{
    padding: 10px 20px;
    font-size: 15px;
    background-color: #fff;
    color: #000;
    border: none;
    font-weight: 700;
    border-radius: 10px;
}

.genre__two{
    padding: 10px 20px;
    font-size: 15px;
    background-color: #fff;
    color: #000;
    border: none;
    font-weight: 700;
    border-radius: 10px;
}

.movie-overview p{
    width: 650px;
    margin-top: 20px;
}

.movie-details-content-two {
    margin-right: 50px
}

.fav__btn__wrapper{
    margin-right: 40px;
}

.add__to__fav{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #be123c;
    color: #fff;
    border: none;
    padding: 18px 30px;
    border-radius: 5px;
    font-size: 16px;
}
