.main-content-wrapper{
   /* width: 100%;
   height: 100vh; */
}
    
/* .main-content-one{
    margin-left: 100px;
    margin-top: 50px;
    color: #fff;
} */
      

.main-content-wrapper h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;      
  } 
  
  .homepage-movie-rating{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
.homepage-imdb-wrap{
  display: flex;
  gap: 20px;
}

.homepage-fruit-wrap{
  display: flex;
  padding-right: 40px;
  gap: 20px;
}

  .homepage-movie-title{
    margin-top: 1rem;
    font-size: 14px;
    font-weight: 500; 
    line-height: 18px;
}



.movie-trailer-btn{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
    height: 36px;
    width: 200px;
    font-size: 14px;
    margin-top: 1rem;
    border: none;
    border-radius: 6px;
    padding: 10px 10px 10px 16px;
    gap: 8px;
    background: #be123c;
    color: #ffffff;
}
.bxs-caret-right-circle{
font-size: 25px;
}

.play-icon{
  width: 10px;
  color: transparent;
  background-color: #ffffff;
}

.main-content-two ul{
  color: #ffffff;
  margin-top: 130px;
  margin-right: 20px;
  line-height: 30px;
}

.main-content-two ul li {
  list-style: none;
  color: #9ca3af;
  font-weight: 700;
  font-size: 20px;
}

.active-list{
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  gap: 10px;
}

