.nav-container{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo-wrapper{
    display: flex;
    padding-left: 5rem;
    width: 186px;
    height: 50px;
    top: 15px;
    left: 95px;
    gap: 24px;
    text-decoration: none;
}

.logo-image{
    width: 50px;
    height: 50px;
}

.logo-wrapper > h3{
    padding-left: 1rem;
    padding-top: 12px;
    color: #ffffff;
}

.searchbox-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #fff;
    border-radius: 5px;
    width: 38%;
}

input[type="text"] {
    background-color: transparent;
    width: 440px;
    height: 36px;
    border: none;
    padding-left: 10px;
    color: #ffffff;
}

::placeholder{
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    padding-left: 5px;
}

.bx-search{
    color: #ffffff;
    padding-right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.focused-input {
  border-color: #ffffff; 
}

.search__result__wrapper{
    display: flex;
    align-items: center;
    position: absolute;
    list-style: none;
    right: 35%;
    top: 75%;
    width: 440px;
    background-color: #ffffff;
    padding: 10px;
    overflow: hidden;
}

.movie__list {
    /* position: absolute;
    list-style: none;
    right: 35%;
    top: 75%;
    width: 440px;
    background-color: #ffffff;
    padding: 20px; */
}

.search__result__image{
    width: 70px;
    height: 60px;
}

.signin-wrapper{
    display: flex;
    align-items: center;
    height: 36px;
    margin-top: 22px;
    padding-right: 5rem;
    gap: 27px;

}

.signin-wrapper p {
   
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    color: #ffffff;
}

